{
  "providers": [
    {
      "model": "model name here",
      "host": "API Host here",
      "target": "API target here",
      "port": "API port here",
      "apikey": "API key here"
    },
    {
      "model": "model name here",
      "host": "API Host here",
      "target": "API target here",
      "port": "API port here",
      "apikey": "API key here"
    }
  ]
}