{
  "providers": [
    {
      "name": "configure name here",
      "model": "model name here",
      "host": "API Host here",
      "port": "API port here",
      "protocol": "http(s) protocol here",
      "target": "API target here",
      "apikey": "API key here"
    },
    {
      "name": "configure name here",
      "model": "model name here",
      "host": "API Host here",
      "port": "API port here",
      "protocol": "http(s) protocol here",
      "target": "API target here",
      "apikey": "API key here"
    }
  ]
}